#login {
  background: rgb(235, 212, 195);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-switch {
  background: var(--prim);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: fit-content;
}

.selector {
  text-align: center;
  font-size: 1.3rem;
  width: 100px;
  height: 50px;
  line-height: 50px; /* Keep same as height */
  cursor: pointer;
  transition: 0.2s all;
}

.selector.inactive {
  background: var(--disabled);
}

.selector.active {
  background: var(--prim);
}

.selector.inactive:hover {
  background: var(--ter);
}

.login-form {
  background: var(--prim);
  padding: 40px;
  max-width: 650px;
  margin: 0 auto;
  border-radius: 3px;
  display: grid;
  grid-template-areas:
    'heading heading'
    'user password'
    'btn btn';
}

.login-form h3 {
  font-size: 2rem;
  grid-area: heading;
  margin: 20px auto;
}

.login-input {
  display: block;
  background: var(--ter);
  border: 1px solid rgba(255, 255, 255, 0.5);
  outline: none;
  height: 40px;
  width: 250px;
  font-size: 1.4rem;
  padding: 10px;
  margin: 20px 10px;
  color: white;
}

.login-input:focus {
  border: 2px solid var(--sec);
}

.user-input {
  grid-area: user;
}

.password-input {
  grid-area: password;
}

.login-btn {
  height: 40px;
  width: 200px;
  padding: 0;
  font-size: 1.5rem;
  border-radius: 0;
  background: var(--sec);
  color: white;
  cursor: pointer;
  outline: none;
  grid-area: btn;
  margin: 20px auto;
  transition: 0.2s all ease;
  border-color: var(--sec);
}

.login-btn:hover {
  background: var(--ter);
}

.login-btn:active {
  border: 2px solid var(--prim);
}
